/* Webfont: Ammar-Regular */@font-face {
    font-family: 'Ammar2';
    src: url('Ammar-Regular.eot'); /* IE9 Compat Modes */
    src: url('Ammar-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ammar-Regular.woff') format('woff'), /* Modern Browsers */
         url('Ammar-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Ammar-Regular.svg#Ammar-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

