/* Webfont: Ammar-Light */@font-face {
    font-family: 'Ammar';
    src: url('Ammar-Light.eot'); /* IE9 Compat Modes */
    src: url('Ammar-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ammar-Light.woff') format('woff'), /* Modern Browsers */
         url('Ammar-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Ammar-Light.svg#Ammar-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

